@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root{
    --color-dark: hsl(252, 30%, 17%);
    --color-black: hsl(252, 30%, 10%);
    --color-danger: hsl(0, 95%, 65%);
    --color-success: hsl(120, 95%, 65%);
    --color-secondary: hsl(252, 100%,90%);
    --color-primary: hsl(252, 75%, 60%);
    --color-gray: hsl(252, 15%, 65%);
    --color-light: hsl(242, 30%, 95%);
    --color-white: hsl(252, 30%, 100%);

    --border-radius: 2rem;
    --card-border-radius: 1rem;
    --btn-padding: 0.6rem 1rem;
    --card-padding: 1rem;
    --search-padding: 0.6rem 1rem;

    --sticky-top-left: 5.4rem;
    --sticky-top-right: -18rem;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;


}

body {
    font-family: 'Poppins', 'sans-serif';
    color: var(--color-dark);
    background: var(--color-light);
    overflow-x: hidden;
}


header{
    width: 100vw;
    min-height: 100vh;
    background: var(--color-light);
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    border-radius: var(--border-radius);
    background: white;
    max-width: 800px;
    min-height: 500px;
    display: inline;
    justify-content:space-between;
    align-items: flex-start;
    padding: 0.5rem 1.5rem;
}

.about {
    margin-top: 20px;
    justify-content:space-between;
    text-align: center;
}

.button-content {

    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 16px 40px;
    border-radius: 500px;
    color: #fff;
    display: block;
    width: 300px;
    margin: auto;
    display: block;
    transition: all 0.5 ease-in-out;
    background-size: 150% 100%;
    border: 2px solid #9600d6;
    background-color: #9600d6;
    text-align: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

.mascot img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.button-content:hover {
    background: transparent;
    border-color: #9600d6;
    font-weight: bold;
    color: #9600d6;
}

@media only screen and (max-width: 770px){
    .container{
        flex-direction: column;
    }
    body{
        overflow-x: hidden;
    }
}

